* {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: #474747;
    font-family: IRANSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 0.95rem;
    font-weight: normal;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    font-weight: 500;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

html {
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    width: 100vw;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    border-bottom: 1px solid #E6E6E6;
    width: inherit;
    height: 4rem;
    max-width: 1460px;
    position: sticky;
    background-color: #fff;
    box-shadow: 0 0 3px 0 #c5c5c5;
}

nav span {
    color: #6C6C6C;
}

nav section {
    display: flex;
}

nav button {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    cursor: pointer;
}

nav #logo {
    border-left: 1px solid #E6E6E6;
    padding-left: 1.5rem;
    margin-left: -1.5rem;
}

nav #nav-left button:last-child {
    background-color: #BE3737;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}

nav #nav-left button:last-child span {
    color: #fff;
    font-weight: 900;
    font-size: 1rem;
}

#search-box {
    background-color: #F5F5F5;
    padding: 0 1rem;
    /* width: 100%;
min-width: auto;
max-width: 40rem; */
    height: 2.5rem;
    border-radius: 0.3rem;
    position: relative;
}

nav input:focus {
    outline: none;
}

nav input::placeholder {
    color: #A6A6A6 !important;
    font-weight: 400;
}

#nav-right,
#nav-left {
    display: flex;
    gap: 3rem;
    align-items: center;
}

#nav-left span {
    font-weight: 400;
    font-size: 0.8rem;
}


/* side bar /---------------------------------- */

main {
    display: flex;
    justify-content: center
}

#main {
    display: flex;
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 1460px;
    flex-grow: 1;
}

#side-bar {
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100%;
    width: 23%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 1rem;
}

#side-bar div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

#side-bar div span {
    font-size: 0.9rem;
    font-weight: 400;
    color: #a1a1a1;
    transition: color 0.3s;
    cursor: pointer;
}

#side-bar div span:hover {
    color: #575656;
}

#main-commercials {
    overflow: scroll;
    scroll-behavior: smooth;
    height: 100%;
    width: 77%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem 1rem 0 2rem;
}

::-webkit-scrollbar {
    width: 0px;
}

.commercial-box {
    height: 168px;
    border: 1px solid #a6a6a650;
    display: flex;
    justify-content: space-between;
    flex: 1 1 280px;
    padding: 0.8rem;
    border-radius: 0.3rem;
    gap: 0.3rem;
    cursor: pointer;
}

.commercial-box img {
    border-radius: 0.3rem;
}

.commercial-box>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.commercial-box p {
    color: #acacac;
    font-weight: 300;
    font-size: 0.8rem;
}


/* dropdown /--------------- */

.accordion {
    width: 100%;
    max-width: 360px;
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.accordion .item {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-weight: 500;
    font-size: 0.9rem;
}

.accordion li i {
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-size: 0.9rem;
    color: #b4b3b3;
    font-weight: 200;
}


/* 
.accordion li i.fa-chevron-down {
    left: auto;
} */

.accordion li.open .item {
    color: #BE3737;
}

.accordion li.open i {
    color: #BE3737;
}

.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.subItems {
    display: none;
}

.subItems a {
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.subItems li {
    padding: 0.95rem;
}


/* .subItems #town-input {
    border: 1px solid #A6A6A6;
    border-radius: 0.3rem;
} */

.subItems i {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.subItems input {
    width: 100%;
    padding: 0.2rem 0.8rem;
    border: 1px solid #A6A6A6;
    border-radius: 0.3rem;
}

.subItems input::placeholder {
    font-size: 0.8rem;
    color: #A6A6A6;
}

.subItems input:focus {
    border: 1px solid #BE3737;
    outline: none;
}


/* toggle buttons /----------------------------- */

.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 18px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(179, 177, 177);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 1.6px;
    bottom: 1.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:hover:before {
    box-shadow: 0px 0px 0px 9px #a5a4a452;
}

input:checked+.slider {
    background-color: #BE3737;
}

input:focus+.slider {
    box-shadow: 0 0 1px #BE3737;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13.5px);
    -ms-transform: translateX(13.5px);
    transform: translateX(13.5px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.checkbox-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
}